.header {
	background-color: #fff;
	height: 180px;
	box-shadow: 0 8px 6px -6px rgba(216, 216, 221, 0.25);
	transition: color .4s ease, border .4s ease;

	.title-row {
		display: flex;
		flex-direction: row;
		height: 50%;

		h2 {
			font-family: 'Nunito Light', sans-serif;
			color: #574c61;
			font-size: 35.16px;
			padding-left: 80px;
			padding-top: 40px;
			cursor: default;
		}
	}

	nav {
		display: flex;
		flex-direction: row;
		padding-top: 40px;
		height: 50%;

		ul {
			display: flex;
			list-style: none;
			margin-left: 80px;
			-webkit-padding-start: 0;
			width: 70%;
			li {
				display: block;
				height: 50px;
				margin-right: 55px;

				a {
					color: inherit;
					text-decoration: none;
				}

				&:hover {
					border-bottom: 2px solid #aa66e3;
					color: #aa66e3;
				}
			}
			.nav-item-active {
				border-bottom: 2px solid #aa66e3;
				color: #aa66e3;
			}
		}

	}
}


