body {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

.menu {margin-right: 32px;
        margin-top: 56px;
        z-index: 0;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        width: 224px !important;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        font-size: 4px;
      }

.menu > span {
    font-family: 'Tahoma';
    color: #a7b1c2;
    font-size: 4px;
}

.menu-list {
    font-family: 'Calibri';
    font-size: 10px;
}

.tasks:hover {
    background-color: white !important;
}

.tasks {
    border-bottom: none !important;
    border-top: none !important;
}

.tasks-sub {
    transition: background-color .25s ease;
    cursor: pointer;
}

.tasks-sub:hover {
    background-color: #f2f2f2 !important;
}

.projects-table table{
    width:100% !important;
    min-height: 500px !important;
}

.mdl-data-table {
    border: none;
}


.mdl-data-table table:after {

}

.mdl-data-table thead {
    border-top: 1px solid rgba(0,0,0,.12)
}

.progress {
    margin-bottom: 0;
}